USE [TaskManagementDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/5/2026 3:26:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 1/5/2026 3:26:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsCompleted] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/5/2026 3:26:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251229114444_InitialCreate', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260104182223_AddIsDeletedToTasks', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([Id], [Title], [Description], [IsCompleted], [UserId], [CreatedAt], [IsDeleted]) VALUES (1, N'Check emails', N'Check emails', 1, 1, CAST(N'2025-01-02T07:58:10.8864838' AS DateTime2), 0)
INSERT [dbo].[Tasks] ([Id], [Title], [Description], [IsCompleted], [UserId], [CreatedAt], [IsDeleted]) VALUES (2, N'Go to bank', N'Go to bank', 0, 1, CAST(N'2026-01-02T08:20:32.5744971' AS DateTime2), 0)
INSERT [dbo].[Tasks] ([Id], [Title], [Description], [IsCompleted], [UserId], [CreatedAt], [IsDeleted]) VALUES (3, N'Meeting 1', N'Meeting 1', 0, 1, CAST(N'2026-01-02T17:06:15.2859769' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [CreatedAt]) VALUES (1, N'admin', N'AQAAAAIAAYagAAAAEFJPNmwKykr6amT9l2JNBVjh0hhbAOcy9ncX5e1EC5RxNMK4tx2f3nvn+yqv9QfAcg==', CAST(N'2026-01-01T11:10:13.7002342' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [CreatedAt]) VALUES (2, N'user1', N'AQAAAAIAAYagAAAAEKurRiOlcoQmkDKLMd1YIrETnVcEzIxARXat0nWmpb6h0Z4kx9aR6QZCXkhjq04XAA==', CAST(N'2026-01-04T16:32:17.7075864' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [CreatedAt]) VALUES (3, N'user2', N'AQAAAAIAAYagAAAAEDvm16sp8hVXrnHGv3T4quLyMXucmNTeXaOjTAaMeH6uLArdW5vSaMvOO/IiLrCZ5Q==', CAST(N'2026-01-04T16:32:24.0917056' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
