.app-heading{
    color: aquamarine !important;
}

:host {
  display: block;
  height: 100vh;
}

.task-container {
  height: calc(100vh - 56px); // navbar height  
  background-image: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}